body {
  background-color: #8FB3CD;
  font-family: 'Lato', sans-serif;
}

#wrapper {
  margin: 0 auto;
  min-height: 1000px;
  width: 1500px;
  padding: 10px;
  background-color: #132f44;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}


#header {
  font-size: 70px;
  text-align: center;
}

#header img {
  width: 80px;
  height: 58px;
}

.main-timeline { display: inline-block; margin-bottom: 75px; }

#snaptarget { height: 90px; width:800px; margin-bottom: 50px; margin-left: 50px; }
#snaptarget1 { height: 90px; width:800px; margin-left: 50px }

.sample-slot {
  float: left;
  margin-left: 10px;
  margin-top: 50px;
  height: 82px;
  width: 82px;
  background-image: url("../images/playlist_bg.jpg");
  border: solid black;
  border-radius: 10px 10px 10px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);
}

#playlist-container {
  margin-top: 100px;
  background-color: #1e4059;
  width: 900px;
  border-radius: 10px 10px 10px;
}

.draggable-content {
   /*background-color: black;*/
   width: 80px;
   height: 80px;
   float: left;
   margin: 0 10px 10px 0;
   font-size: .9em;
   border: solid black;
   border-radius: 10px 10px 10px;
   opacity: 0.9;
   transition: opacity 0.1s, box-shadow 0.1s;
}

.draggable-content:hover { opacity: 1; cursor: pointer; box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5); }

#sample-list {
  background-color: #86abc4;
  float: right;
  padding: 40px;
  margin-right: 0px;
  margin-top: -415px;
  border-radius: 5px;
  border: 1px solid black;
  opacity: 0.6;
  transition: opacity 0.2s, box-shadow 0.2s;
}

#sample-list:hover {
  opacity: 1;
}

#sample-list li:hover { background-color: #008395; cursor: pointer; }

#play-all-button {
  position: absolute;
  top: 180px;
  left: 880px;
}

#inactive-samples {
  border-radius: 5px;
  text-align: center;
  margin-top: 100px;
  max-width: 400px;
  background-color: #8FB3CD;
}

.add-remove {
  display: block;
  float: right;
  margin-left: 10px;
}

.sampleButton {
  background-color: ghostwhite;
  border: 0.5px solid black;
  border-radius: 5px;
}