body {
  background-color: #bae1ff;
  font-family: 'Lato', sans-serif;
}

#header {
  font-size: 70px;
  text-align: center;
}

.main-timeline {
  /*margin-top: 30px;
  margin-bottom: 5px;*/
  /*background-image: url("../images/playlist_bg.jpg");*/
  /*border: solid black;
  border-radius: 10px 10px 10px;
  opacity: 0.9;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);*/
}

#snaptarget { height: 90px;   width:800px; }

.sample-slot {
  float: left;
  margin-left: 10px;
  height: 82px;
  width: 82px;
  background-image: url("../images/playlist_bg.jpg");
  border: solid black;
  border-radius: 10px 10px 10px;
  opacity: 0.9;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);
}

.draggable-content {
   /*background-color: black;*/
   width: 80px;
   height: 80px;
   float: left;
   margin: 0 10px 10px 0;
   font-size: .9em;
   border: solid black;
   border-radius: 10px 10px 10px;
}

.draggable-content:hover {
  opacity: 0.9;
  cursor: pointer;
}

#sample-list {
  float: right;
  padding: 40px;
  margin-right: 500px;
  border-radius: 5px;
  border: solid #008395;
}

#sample-list li:hover {
  background-color: #008395;
  cursor: pointer;
}

#play-all-button {
  position: absolute;
  top: 180px;
  left: 880px;
}

#inactive-samples {
  float: left;
  display: block;
  margin-top: 200px;
  margin-left: -550px;
  border-radius: 5px;
  border: solid #008395;
}

#wrapper {
  margin: 0 auto;
  height: 1000px;
  width: 1500px;
  padding: 10px;
  background-color: #9DCDF2;
  border-radius: 5px;
  border: solid darkslategray;
}