<div id="snaptarget" class="main-timeline">
</div>

{{!--<div id="draggableBox" class="draggable-content">
</div>--}}


<ul id="sample-list">
    <h3>Sample List</h3>
        <li class="audiosample" sampleFile="Lead Melody.wav">Lead Melody.wav</li>
        <li class="audiosample" sampleFile="Piano Chords.wav">Piano Chords.wav</li>
        <li class="audiosample" sampleFile="Synth Chords.wav">Synth Chords.wav</li>
        <li class="audiosample" sampleFile="Weird Synth.wav">Weird Synth.wav</li>
</ul>
