body {
  background-color: ghostwhite;
  
  
}

.main-timeline {
  background-color: #eeeeee;
  border: solid black;
  border-radius: 10px 10px 10px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);
}

#snaptarget { height: 80px;   width:800px; }

.draggable-content {
   background-color: black;
   width: 80px;
   height: 80px;
   float: left;
   margin: 0 10px 10px 0;
   font-size: .9em;
   border: solid black;
   border-radius: 10px 10px 10px;
}

.draggable-content:hover {
  opacity: 0.9;
}

#sample-list {
  float: right;
  margin-right: 400px;
}

#sample-list li:hover {
  background-color: lightgrey;
}